@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/* Générale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --heading-xl: 4rem;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  padding: 0rem calc(2rem + 0.3vw);
  font-size: calc(0.9rem + 0.3vw);
  background-color: #232325;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
  outline: none;
}

/* Style de la barre de navigation */
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding-top: 1rem;
  font-weight: 400;
  color: white;
}

.nav-brand {
  display: block;
  /* font-weight: bold; */
  font-weight: 500;
  text-decoration: underline;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-list-item {
  padding: 0rem calc(0.1rem + 1vw);

}

/* Section d'introduction */
.intro {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.intro-container {
  padding: 4rem 1.5rem 3rem 1.5rem;
  text-align: center;
  max-width: 80%;
  border-radius: 8px;
  margin: 0rem auto;
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  background: linear-gradient(to right, #185a9d, #43cea2);
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.heading-xl {
  font-size: var(--heading-xl);
  font-weight: 400;

}

.intro-text {
  line-height: 1.8rem;
  padding-top: 1.8rem;
}

.github {
  margin-top: 1.8rem;
  padding: 0.8rem 1.3rem;
  font-family: inherit;
  border: none;
  background-color: #185a9d;
  color: white;
  font-size: 0.9rem;
  border-radius: 3px;
}

.github:hover {
  cursor: pointer;
  background-color: #114272;
  transition: 0.5s ease;
}

/* Section de Présentation */
.projects {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section-heading {
  font-size: 3rem;
  text-align: center;
  color: #e94e1b;
  text-decoration: underline;
}

.section-heading-presentation {
  font-size: 3rem;
  text-align: center;

}
.projects-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

.projects-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

}

.project-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  padding: 1.5rem;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.7rem;
  color: white;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: white;
}

.card-btn {
  margin-top: 1rem;
  padding: 0.7rem 1.1rem;
  font-family: inherit;
  border: none;
  background-color: transparent;
  border: 1.5px solid #185a9d;
  color: #185a9d;
  font-size: 0.9rem;
  border-radius: 20px;
  font-weight: 600;
  color: white;
}

.card-btn:hover {
  cursor: pointer;
  background-color: #114272;
  transition: 0.5s ease;
  color: white;
}

/* Section de présentation */
.pres-me {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.pres-image {
  background-image: url("../assets/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  border-radius: 10%;
  margin: auto;
}

.pres-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
  /* text-align: center; */
  line-height: 1.8rem;
  color: white;
}



/* Section de téléchargement */
.download {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.download-container {
  padding: 3rem 1.5rem 2rem 1.5rem;
  text-align: center;
  max-width: 80%;
  border-radius: 8px;
  margin: 4rem auto;
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white;
}

.download-heading {
  font-size: 2rem;
  font-weight: 400;
}


/* Section pour le Footer */
footer {
  min-height: 7vh;
  width: 100%;
  text-align: center;
}

@media (max-width: 850px) {
  .projects-grid {
    grid-template-columns: 80vw;
    row-gap: 3rem;

  }

  .about-container {
    grid-template-columns: 100%;
    row-gap: 3rem;
  }

  .text-container {
    text-align: center;
  }
}

/* Section responsive pour affichage sur téléphone */
@media (max-width: 571px) {
  html {
    --heading-xl: 2.5rem;
  }
  body {
    padding: 0rem 1rem;
  }
  .nav {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1rem;
  }
  .nav-list {
    margin-top: 1rem;
  }

  .intro-container,
  .pres-container {
    max-width: 100vw;
    font-size: 1rem;
    padding: 3rem 1rem 2rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .text-container {
    padding: 0rem 1rem;
  }
}

/* Section fixe padding */
@media (min-width: 700px) {
  body {
    font-size: 1.1rem;
  }
}

  footer {
  color: white;
  }
